.knowledge-title {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    text-align: center;
    padding-top: 10px;
}

.knowledge-list {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: flex-start; 
  height: 60vh;          
  padding-left: 2em;       
  list-style-position: inside;
  font-size: medium;
  gap: 1em;
}
